{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <h2 class="mt-4">Remover Acentos de Texto</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="original-text" class="form-label">Texto:</label>
                <textarea id="original-text" class="form-control" rows="4"></textarea>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label for="modified-text" class="form-label">Texto Sem Acentos:</label>
                <textarea id="modified-text" class="form-control" rows="4" readonly></textarea>
            </div>
        </div>
    </div>
    <button id="remove-accents-button" class="btn btn-primary">Remover Acentos</button>
</div>

<button id="clean-button" class="btn btn-warning m-3">Limpar</button>
<button id="copy-button" class="btn btn-success m-3">Copiar</button>
<div id="copy-alert" class="alert alert-success d-none" role="alert">
    Texto copiado com sucesso!
</div>

<script src="{% static 'core/js/texto/remover_acentos.js' %}"></script>

{% endblock %}
