{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <h2 class="mt-4">Revirar Texto</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="original-text" class="form-label">Texto:</label>
                <textarea id="original-text" class="form-control" rows="4"></textarea>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label for="turned-text" class="form-label">Texto Revirado:</label>
                <textarea id="turned-text" class="form-control" rows="4" readonly></textarea>
            </div>
        </div>
    </div>
    <button id="turn-button" class="btn btn-primary">Revirar Texto</button>
</div>

<script src="{% static 'core/js/texto/revirar_texto.js' %}"></script>

<style>
.inverted-word {
    font-weight: bold;
    font-size: 1.2em;
}
</style>
{% endblock %}
